<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml">
<head>
	<div th:replace="fragments/header :: myheader"></div>
</head>
<body>
	<div th:insert="fragments/navbar :: topnav"></div>
	
	<div class="container">
		<article th:each="news : ${news}">
        <header>
            <a th:href="@{|/news/${news.link}|}" th:text="${news.title}"  >Ez itt a cím</a> 
            <p th:text="${#dates.format(news.posted, 'yyyy.MM.dd HH:mm')}">Posted on September 31, 2015 at 10:00 PM</p>
        </header>
       
    </article>
	</div>
	<div th:insert="fragments/footer :: foot"></div>
</body>
</html>